.home-banner-main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.3rem;
    width: 27rem;
    margin: 0 4rem 4rem 4rem;
    float: left;
}

.home-banner-des {
    font-family: var(--body-font);
    padding: 1rem;
}

.home-banner-link {
    color: rgb(0, 122, 209);
}