.home-banner-main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    width: 19rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2.2rem;
    margin-left: 2.2rem;
    float: left;
}

.home-banner-des {
    font-family: var(--body-font);
    padding: 1rem;
}

.home-banner-link {
    color: rgb(0, 122, 209);
}